<a href="https://colab.research.google.com/github/brendenwest/cis122/blob/main/1_python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python

## Reading

- Think Python, Chapter 1 & 2 - https://allendowney.github.io/ThinkPython/
- https://www.tutorialspoint.com/python/python_overview.htm (Python Basics)
- https://www.tutorialspoint.com/python/python_string_formatting.htm
- https://www.tutorialspoint.com/python/python_escape_characters.htm

## Overview of Programming Languages

- Unambiguous way of providing instructions to a computer
- **High-level** languages are designed to be understood by humans. E.g. Python, Java, C++
- **Low-level** languages optimized for machines - Machine code, Assembly
- **Compilers** convert programming code to **machine code** (binary)
- **Compiled** languages are translated to binary before execution. These include Java, C++, C#
- Compiled programs generally runs faster than interpreted code
- **Interpreted** languages are (sort of) compiled at run-time. These include Python,  JavaScript, and PHP
- Interpreted code can be developed and run interactively with less setup overhead

## Why Python?

- readable,
- easy to set up and run interactively,
- class-based & object oriented
- Open-source w/ large ecosystem of specialized libraries

## How to run Python

Where:
- on local computer
- in a cloud-hosted workspace (e.g https://replit.com)

How
- via OS command-line (e.g. bash, PowerShell, etc)
- Python shell
- Jupyter notebook

## Basic Python Syntax

### Variables

Variables can be defined with basic data type (e.g numbers, strings, or `boolean`).

**note**
- Python does not require you specify the numeric type.
- Strings can be delimited with double or single quotes

In [ ]:
age = 32                # integer
gpa = 3.8               # floating point
name = "Paul Atreides"  # string
isStudent = True        # boolean

### Expressions

Expressions are a collection of operators and numbers that are evaluated to a single value.

Python supports standard math operators and follows the order of operations you might have learned in a math class: exponentiation happens before multiplication and division, which happen before addition and subtraction.

In [ ]:
3 + 6 ** 2

39

In [ ]:
# order of operations can be controlled with parentheses
(3 + 6) ** 2

81

In [ ]:
4 / 2   # returns a floating-point result
5 // 2  # returns a whole number (integer)

2.0

Python has distinct operators for integer and floating-point division. Integer division is also called “floor division” because it always rounds down.

### Strings

Strings are sequences of characters delimited by single or double quotes.

In [ ]:
'Hello'
"Hello"

If a string contains the same character used for delimiter, that character must be `escaped` like so:

In [ ]:
'Summer\'s end'

"Summer's end"

String can contain special `control` characters (e.g. tabs, spaces, new line, etc.)

In [3]:
print("Name\tMajor")
print("----\t----")
print("Smith\tScience")
print("Jones\tArt")

Name	Major
----	----
Smith	Science
Jones	Art

Strings can be combined (`contatenated`) using a plus sign.

In [ ]:
name = "Earl"
"My name is " + name

'My name is Earl'

Strings can also be combined using `F-string` syntax:

In [9]:
name = "Earl"
f"My name is {name}"

'My name is Earl        4.0'

Or strings can be combined with a `format` command:

In [6]:
name = "Dave"
hobby = "baseball"

"Hi. My name is {0} and I like {1}".format(name, hobby)

'Hi. My name is Dave and I like baseball'

string placeholders can include a format specifier for how the value should be displayed.

format specifier has the form:
```
<width>.<precision><type>
```
width sets how may spaces to occupy and precision indicates # of decimal places.
For example, the below example formats ‘total’ value to 2 decimal places:

In [10]:
price = 123
f"Total price is ${price:10.2f} plus tax"

'Total price is $    123.00 plus tax'

### Character Encoding

Computer operating systems associate a distinct numeric value with individual characters according to a standard convention such as:

- **ASCII** - most common latin characters & symbols
- **UTF-8** - support for nearly all characters in all languages

Characters include not only letters and numbers, but also **Control** characters - special characters that control computer behavior (e.g. tabs, spaces, carriage returns, etc.)

**Note** - Upper- & Lower-case letters have different numeric values.

Python provides commands to translate between characters and their numeric value:

In [13]:
print(chr(65))  # returns character associated with a number
print("A", ord('A')) # returns number associated with a character
print("a", ord('a'))

A
A 65
a 97

### Print command

Python programs can output messages using the `print` command:

In [ ]:
print("hello world")
print("Hello", "world") # print multiple values

hello world
Hello world

The `print` command can output the result of expression evaluation:

In [ ]:
print("result:", 6 + 6)

name = "Earl"
print("My name is", name)

result: 12
My name is Earl

By default, the print command outputs a `new line`, but that can be overridden:

In [ ]:
print("first", end=" - ")
print("second")

first - second

### Comments

Python supports `comments` - text that won't be executed. These are an important way to leave explanations in code.

Comments can be a single line or a multi-line block.

In [ ]:
# single-line comment is prefaced with a pound sign

name = "smith"  # comments can be on the same line as a command
print(name)

'''
 multi-line commands are delimited with triple quotes.
 these are conventient for explanations that can't fit
 on just one line
'''

smith

"\n multi-line commands are delimited with triple quotes.\n these are conventient for explanations that can't fit \n on just one line\n"